@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
    height: 100%;
}

.techno-img {
    width: 7rem;
    height: 7rem;
}

.img-moi {
    height: 30rem;
    width: 30rem;
}


.star-icon {
    mask-image: url("/star.svg");
    mask-size: cover;
    height: 1.4rem;
    width: 1.4rem;
}

.star-icon__dark {
    background-color: #5c5c5c;
}

.star-icon__light {
    background-color: yellow;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .img-moi {
        display: block;
    }
}